
body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	color: #333;
	font-size: 16px;
	font-weight: lighter;
}

p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #B565A7;
	font-weight: normal;
}

a:hover {
	color: #000;
}

a:visited {
	color: #B565A7;
	text-decoration: none;	
}

a h1,h2 {
	color: #333;
}

a:visited h1,h2 {
	color: #333;
}



h1,h2 {
	margin: 0px;
	padding: 0px;
	font-family: Oswald, "Arial"
}

.header {
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.3);
	position: fixed;
	top:0;
	width: 100%;
	z-index: 50;
	opacity: 0.94;
	transition: height 0.2s;
	transition-timing-function: ease-in-out;
}

.header-content {
	width: 90%;
	height: 64px;
	max-width: 1083px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 10%;
	float: left;
}

.header-right {
	width: 10%;
	height: 40px;
	float: right;
}

.logo img {
	height: 42px;

}

.header-content h1,h2 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	transition: font-size 0.2s, padding-top 0.2s ease-in-out;
}

.space {
	clear: both;
	height: 30px;
}

.footer {
	clear: both;
	height: 200px;
	padding-top-top: 50px;
	background-color: #333;
	color: #fff;
}

.footer-content {
	width: 90%;
	height: 64px;
	max-width: 1083px;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
}

.copyright {
	font-size: 14px;
}

.container {
	clear: both;
	width: 100%;

	max-width: 1203px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.product {
	clear:both;
	width: 90%;
	height: 60%;
	min-height: 500px;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.14902);
	transition: height 0.2s, background-color 0.2s ease;
	transition-timing-function: ease-in-out;
}

.intro {
	font-weight: lighter;
	width: 880px;
	max-width: 90%;
	margin: 90px auto 0px auto;
}

.intro .title {
	color: #525252;
	font-size: 48px;
	margin-bottom: 20px;
}

.intro .paragraph {
	color: #999999;
	font-size: 30px;
}

.grid {
	height: 70%;
	margin-top: 30px;
	padding: 2.5%;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.cell {
	float: left;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.14902);
	width: 28.12%;
	height: 385px;
	margin: 2.5%;
	background-color: #fff;
	transition: width 0.2s, background-color 0.2s ease-in-out;
}

.cell .book {
	background-size: contain;
    background-repeat: no-repeat;
	height: 300px;
	margin-bottom: -40px;
	max-width: 260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8.5%;
}

.book:hover {
	opacity: 70%;
}

.lean {
	background-image: url(assets/book.png);
}

.cracking {
	background-image: url(assets/cracking.png);	
}

.cell .cracking {
	height: 300px;
	margin-bottom: -40px;
}

.intercom {
	background-image: url(assets/intercom.png);
}

.everyday {
	background-image: url(assets/everyday.png);	
}

.chasm {
	background-image: url(assets/chasm.png);	
}

.innovator {
	background-image: url(assets/innovator.png);	
}

.cell:hover,.banner:hover {
	background-color: #ddd;
}

.cta:hover .cell {
	background-color: #fff;	
}

.cta {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 12px;
    background-color: #333;
    color: #fff;
    height: 40px;
	box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.4);
}

.cta a {
    color: #fff;
}

.cta:hover {
    background-color: #B565A7;
}

.overlay {
 	height: 14px;
	margin: 10px 0 15px 0;
    text-align: center;
    padding-top: 10px;
    opacity: 0;
    color: #000;
  	transition: height 0.3s, padding-top 0.3s, opacity 0.2s ease-in-out;
  	font-size: 14px;
}

.cell:hover .overlay {
 	height: 24px;
    opacity: 1;
    padding-top: 0px;
    color: #000;
}

.product .hero {
	float:left;
	width: 40%;
	padding: 5%;
	transition: width 0.2s ease-in-out;
}

.hero-image {
	width: 360px;
	max-width: 100%;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	background-size: contain;
    background-repeat: no-repeat;
}

.product .description {
	float: left;
	width: 45%;
	height: 80%;
	margin: 5% 0 5% 0;
	padding: 0px;
	transition: width 0.2s ease-in-out;
}

.description h1 {
	color: #525252;
	font-size: 40px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-weight: lighter;
	margin-bottom: 0px;
}

.description .author {
	float: left;
	color: #999999;
	font-size: 24px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-weight: lighter;
	margin-bottom: 18px;
}

.twitter {
	float: left;
	margin: 3px 0 0 5px;
}

.twitter img {
	height: 32px;
	width: 32px;
}

.copy {
	clear: both;
	margin: 20px 0 20px 0; 
	padding-top: 20px;
	padding-bottom: 20px;
}

.copy-long {
	clear: both;
	font-weight: lighter;
	width: 880px;
	max-width: 90%;
	margin: 0px auto 0px auto;
}

@media all and (max-width: 980px) {
	.cell {
		width: 44.7%;
	}

	.intro .title {
		font-size: 40px;
	}

}

@media all and (max-width: 695px) {
	.cell {
		width: 44.6%;
	}

	.product {
		height: 770px;
	}

	.product .hero {
		float:left;
		width: 90%;
		padding: 5%;
	}

	.hero-image {
		width: 90%;
		max-width: 100%;
		height: 300px;
		margin-right: auto;
		margin-left: auto;
	}

	.product .description {
		width: 90%;
		max-height: 40%;
		padding: 5%;
	}

	.copy {
		width: 90%;
	}

	.copy-long {
		font-size: 14px;
	}

	.description h1 {
		font-size: 34px;
	}

	.description .author {
		font-size: 22px;
	}

}

@media all and (max-width: 540px) {

	.banner {
		height: 200px;
	}

	.cell {
		width: 95%;
	}

	.header-content h1,h2 {
		float: right;
		width: 85%;
		padding-top: 6px;
		font-size: 24px;
	}

	.header-right {
		display: none;
	}

	.intro .title {
		font-size: 36px;
	}

	.intro .paragraph {
		font-size: 22px;
	}

		.copy {
		font-size: 14px;
	}

	.description h1 {
		font-size: 26px;
	}

	.description .author {
		font-size: 16px;
	}
}

@media all and (max-width: 400px) {

	.intro .paragraph {
		font-size: 20px;
	}

	.header-content h1,h2 {
		font-size: 18px;
	}

}
